<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FeenPhone.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    <FeenPhone.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value />
      </setting>
      <setting name="Port" serializeAs="String">
        <value />
      </setting>
      <setting name="Nickname" serializeAs="String">
        <value />
      </setting>
      <setting name="InputDevice" serializeAs="String">
        <value />
      </setting>
      <setting name="Codec" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputDeviceGuid" serializeAs="String">
        <value />
      </setting>
      <setting name="InputLatency" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="OutputDeviceProvider" serializeAs="String">
        <value />
      </setting>
      <setting name="InputDeviceProvider" serializeAs="String">
        <value />
      </setting>
      <setting name="TCPServer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UDPServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TelnetServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TCPPort" serializeAs="String">
        <value>5150</value>
      </setting>
      <setting name="UDPPort" serializeAs="String">
        <value>5150</value>
      </setting>
      <setting name="TelnetPort" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="DefaultInputLevel" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="UseWaveOutEvent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseWaveInEvent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowAdvancedControls" serializeAs="String">
        <value>False</value>
      </setting>
    </FeenPhone.Properties.Settings>
  </userSettings>

  <!--<system.diagnostics>
    <sources>
      <source name="System.Net" tracemode="includehex" maxdatasize="1024">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="System.Net"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
      <add name="System.Net.Cache" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="network.log"/>
    </sharedListeners>

    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log"/>
      </listeners>
    </trace>
  </system.diagnostics>-->

</configuration>
